body{
    background-color: #fcffdb;
    color:black;
    font-weight: bold;
}
/* Pokedex-san Begin Array-style Attributes */

.btn{
    width:100%;
    border-radius:5px;
    padding:5%;
    font-weight:bold;
    text-transform:capitalize;
    font-variant:small-caps;
    box-shadow:2px 2px;
}

.list-group-item{
    list-style-type:none;
    margin-bottom:15px;
    padding-right:10%;
}
.poke-section{
    border:2px black outset;
    border-radius:5px;
    background-color:white;
    color:black;
    width:30%;
    height:550px;
    box-shadow:2px 2px;
    overflow-y:scroll;
    margin-top:5%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin: auto
 }
 .page-title{
     font-family:"Pokemon Solid",serif;
     text-align: center;
     color:navy;
     background-color: inherit;
   }
.page-footer{
    clear: both;
    display: flex;
    flex-direction: column; /* Flex Box Footer & Items Center-aligned */
    text-align: center;
    margin-top:15%;
    margin-bottom:1%;
    margin-left: auto;
    margin-right: auto;
    background-color:gold;
    color:navy;
    padding-top: 2%;
    padding-bottom:2%;
    border-radius:5px 5px 0 0;
    box-shadow: 2px 2px 3px grey;
}
.list-group{
  padding:5px;
}
@media all and (max-width:500px){
    .btn{
        font-size: 12px;

    }
}
/* Pokedex-san Begin Array-style Attributes */

/* Begin Model Style Attributes */

#pokeName{
    margin-top: 10px;
    color:firebrick;
    background-color:gold;
    font-weight:bold;
    font-size:38px;
    text-transform:capitalize;
    font-variant:small-caps;
    border: 2px solid firebrick;
    border-radius: 5px;
    box-shadow: 2px 2px grey;
    padding: 5px;

}
#pokeHeight , #pokeWeight{
     font-size: 18px;
     text-align: center;
     color:darkred;
     background-color: inherit;
     margin-bottom:5%;
}

#pokeImg{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
      height: auto;
}
/* End Model Style Attributes */

header{
    padding: 2px;
    background-color:gold;
    color:inherit;
    margin: auto;
    border-radius: 5px;
    box-shadow:2px 2px grey;
 }